.tab-bar {
  i {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
  }
}

:global {
  .weui_bar_item_on {
    i {
      color: #09BB07;
    }
  }
}