.top-bar {
  height: 40px;
  line-height: 40px;
  background-color: #04BE02;
  z-index: 10000;

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    color: white;
  }
}
